# Web app & UI
streamlit==1.28.0

# Data manipulation
pandas==2.2.1
numpy==1.26.2

# Plotting
matplotlib==3.8.0

# Machine learning models
scikit-learn==1.3.2
xgboost==1.7.6

# Time series forecasting
prophet==1.1.4
cmdstanpy==1.1.0  # Required backend for Prophet

# AI API integration
groq==0.1.35

# LangChain for Agentic AI
langchain==0.1.133

# Environment variables
python-dotenv==1.0.1
